/* Montserrat font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* General styles */

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "Montserrat", sans-serif;
    color: #F7F9F9;
}


/* Styling for the header */
header {
    background-color: #F7F9F9;
    padding: 0 1rem;
    position: fixed;
    z-index: 2;
    width: 100%;
    box-shadow: 0 2px 2px #F7F9F9;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    font-family: "Montserrat", sans-serif;  
}

header a {
    text-decoration: none;
    color: inherit;
}

header > label {
    color: #2081C3;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
    font-family: "Montserrat", sans-serif;
    color: black;
    list-style-type: none;
}

#menu > li {
    margin-bottom: 1em;
}

/* Navbar styles with dropdown toggle */
nav {
    position: absolute;
    background-color: v;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #2081c3;
    display: none;
    /* 0% tells this element to start at the top of the parent, and 100% is to start at the bottom */
    top: 100%;
}

#nav-toggle:checked~nav {
    display: block;
    background-color: #F7F9F9;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

.logo {
    font-family: "Montserrat", sans-serif;
    color: #2081C3;
    margin-top: 5px;
}


/* __________________________________Styling for hero section */

#hero {
    background: url(../images/mr-blue-sky.webp) no-repeat center center/cover;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F7F9F9;
}

#hero-quote {
    font-size: larger;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 30px;
    background-color: rgba(75, 100, 241, 0.7);
}

/* __________________________________Styling for Emergency section */

.emergency {
    color: black;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    margin-top: 20px;
    text-align: center;
    padding: 5px;
    margin-left: 20px;
    margin-right: 30px;
}

#emergency-button {
    margin-bottom: 10px;
    background-color: orange;
}

/* __________________________________Styling for Cards section */

.card {
    font-family: "Montserrat", sans-serif;
    margin-bottom: 5px;
    color: black;
}

.card-body {
    background-color: #78D5D7;
}

/* __________________________________Styling for Footer section */

.did-you-know {
    margin-top: 20px;
    margin-right: 20px;
    color: #2081C3;
    font-weight: 600;
}

.did-you-list {
    color: #2081C3;
    margin-left: 20px;
    padding: 5px;
}


/* __________________________________Styling for Footer section */

footer {
    background-color: #F7F9F9;
}

footer > ul {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

footer > ul > li {
    padding: 0px 30px;
    font-size: xx-large;
}

@media screen and (min-width: 769px) {
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
        
    }

    #menu {
        display: flex;
    }

    #menu > li {
        padding-left: 1rem;    
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 280%;
        line-height: 75px;
        margin: 0 0.5rem;
    }
}

@media screen and (min-width: 992px) {
    #menu a:hover {
        border-bottom: 1px solid #F7F9F9;
    }
}
